<settings>
    <!-- localRepository
    | The path to the local repository maven will use to store artifacts.
    |
    | Default: ~/.m2/repository -->
    <localRepository>/home/suggitpe/m2repo</localRepository>


    <!-- proxies
    | This is a list of proxies which can be used on this machine to connect to the network.
    | Unless otherwise specified (by system property or command-line switch), the first proxy
    | specification in this list marked as active will be used.
    |-->
    <proxies>
        <!-- proxy
       | Specification for one proxy, to be used in connecting to the network.
       | -->
    </proxies>


    <!-- mirrors
    | This is a list of mirrors to be used in downloading artifacts from remote repositories.
    |
    | It works like this: a POM may declare a repository to use in resolving certain artifacts.
    | However, this repository may have problems with heavy traffic at times, so people have mirrored
    | it to several places.
    |
    | That repository definition will have a unique id, so we can create a mirror reference for that
    | repository, to be used as an alternate download site. The mirror site will be the preferred
    | server for that repository.
    |-->
    <mirrors>
    </mirrors>

    <profiles>
        <profile>
            <id>open-space</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>pete</id>
                    <name>Pete's local repo</name>
                    <url>file:///home/suggitpe/subversion_snapshots/repository/m2repository</url>
                </repository>
                <repository>
                    <id>maven2-repository.dev.java.net</id>
                    <name>Java.net Maven 2 Repository</name>
                    <url>http://download.java.net/maven/2</url>
                </repository>
                <repository>
                    <id>JBOSS</id>
                    <name>JBoss Repository</name>
                    <url>https://repository.jboss.org/nexus/content/groups/public/</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>pete</id>
                    <name>Pete's local repo</name>
                    <url>file:///home/suggitpe/subversion_snapshots/repository/m2repository</url>
                </pluginRepository>
                <pluginRepository>
                    <id>maven2-repository.dev.java.net</id>
                    <name>Java.net Maven 2 Repository</name>
                    <url>http://download.java.net/maven/2</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <!-- activeProfiles
   | List of profiles that are active for all builds.
   | -->
    <activeProfiles>
        <activeProfile>open-space</activeProfile>
    </activeProfiles>

</settings>
